{% extends "::base.html.twig" %}

{% block title %}{% endblock %}

{% block sidebar %}
<li>{{ document.bundle }}
    {{ bundle_content_tree(document.bundle) }}
</li>

{{ parent() }}
{% endblock %}

{% block body %}
    <article>
        {{ document.content|raw }}
    </article>
{% endblock %}
