{% extends "::base.html.twig" %}

{% block body %}
    <article>
        {% for content in results %}
            <a href="{{ content.url }}">
                <h2>{{ content.title }}</h2>
                <p>{{ content.description }}</p>
            </a>
            {% if not loop.last and loop.index < 10 %}<hr/>{% endif %}
        {% else %}
            <strong>No results found!</strong>
        {% endfor %}
    </article>
{% endblock %}
