{% extends "::base.html.twig" %}

{% block body %}
    <article class="search-results">
        {% for content in results %}
            <div>
                <a href="{{ content.url }}">
                    <h2>{{ content.title }}</h2>
                </a>
                <p>{{ content.description }}</p>
            </div>
        {% else %}
            <strong>No results found!</strong>
        {% endfor %}
    </article>
{% endblock %}
