
<%- partial('partials/sidebar', { type: 'guide'}) %>
<div class="sidebar">
<ul class="main-menu">
  <%- partial('partials/main_menu', { context: 'sidebar' }) %>
</ul>
</div>

<div class="content with-sidebar">
    <h1>ONGR Docs</h1>
</div>
