.docs article {
  padding: 25px 125px 50px 50px;
  margin-left: 300px;

  ul {
    font-size: 14px;
  }

  .content-list ul li {
    margin: 8px;
    line-height: 1.65;
  }

  p {
    font-size: 15px;
    line-height: 1.70;
  }

  h1 + ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    padding-bottom: 50px;
    border-bottom: 1px solid $light_white;
    -webkit-font-smoothing: antialiased;
    li {
      &:before {
        content: "# ";
        margin-right: .25em;
        color: $orange;
        opacity: .3;
      }
      a {
        text-decoration: none;
      }
    }
  }

  li > ul {
    font-size: 15px;
    font-weight: 400;
    list-style: none;
  }

  h2:first-of-type {
    margin-top: 15px;
  }

  h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: 55px;
    position: relative;

    a,
    a:hover {
      color: $grey;
      text-decoration: none;
    }
    a:before {
      content: "#";
      margin-left: -25px;
      position: absolute;
      font-size: 28px;
      top: 5px;
      color: $orange;
      opacity: .6;
    }
  }

  h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 45px;
  }

  h4 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 35px;
  }

  a {
    text-decoration: underline;
    &:hover {
      color: darken($orange, 10%);
    }
  }

  blockquote a:hover {
    color: lighten($orange, 25%);
  }

  table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    th,
    td {
      border: 1px solid $light_gray;
      padding: 10px;
      text-align: left;
    }
    th {
      font-size: 16px;
    }
  }
}

.docs #search {
  padding: 60px 50px 0px 50px;
  margin-left: 300px;
}

.docs #search-wrapper {
  text-align: center;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

#search-input {
  padding: 10px 16px;
  border-radius: 3px;
  border: solid 1px #B3B5B4;
  width: 100%;
  z-index: 150;
}

.docs #search-input:focus {
  box-shadow: none;
  outline: 0;
  border-color: #F4645F;
}

.docs-wrapper {
  overflow: hidden;
}

@media (max-width:1080px) {

  .docs article {
    margin-left: 200px;
    padding: 15px 30px 30px;
    h2 a:before {
      margin-left: -20px;
    }
  }

  .docs #search
  {
    margin-left: 200px;
  }

}

@media (max-width:780px) {

  .docs article {
    margin-left: 0px;
    h1 {
      margin-top: 0;
    }
  }

  .docs #search
  {
    margin-left: 0px;
    padding: 60px 50px 30px 30px;
  }

}
