<li class="nav-dropdown-container ecosystem">
  <a class="nav-link">Select a bundle</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><h4>Documentation</h4></li>
    <li>
      <ul>
        <li><a href="/elasticsearch-dsl" class="nav-link">ElasticSearch DSL</a></li>
        <li><a href="/elasticsearch-bundle" class="nav-link">ElasticSearchBundle</a></li>
      </ul>
    </li>
  </ul>
</li>
