<li>ONGR Commons
    <ul>
    {% for page in commons %}
        <li><a href="{{ page.url }}">{{ page.menu_title }}</a></li>
    {% endfor %}
    </ul>
</li>
<li>ONGR Bundles
    <ul>
        {% for bundle in bundles %}
            <li><a href="/{{ bundle.key }}">{{ bundle.key }}</a></li>
        {% endfor %}
    </ul>
</li>
